:root {
  --let-nav-width: 250px;
  --body-background-color: #555;
  --und-white: rgb(255, 255, 255);
  --und-hightlight-green: rgb(221, 238, 221);
  --und-light-green: rgb(0, 153, 0);
  --und-dark-green: rgb(0, 102, 0);
  --und-light-orange: rgb(255, 153, 0);
  --und-dark-orange: rgb(255, 153, 0);
  --und-highlight-gray: rgb(238, 238, 238);
  --und-light-gray: rgb(153, 153, 153);
  --und-dark-gray: rgb(102, 102, 102);
  --und-darker-gray: rgb(51, 51, 51);
  --und-black: rgb(0, 0, 0);
  --und-red: rgb(255, 0, 0);
}

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

body {
  background-color: var(--body-background-color);
}

h1, h2, h3 {
  color: var(--und-dark-gray) !important;
}

md-toolbar {
  background-color: transparent !important;
}

md-toolbar.md-table-toolbar {
  color: rgba(0, 0, 0, 0.87);
}

.md-button.md-default-theme.md-primary, .md-button.md-primary {
  color: white;
}

.md-primary {
  background-color: var(--und-dark-green) !important;
}

md-input-container:not(.md-input-invalid).md-input-focused label {
  color: var(--und-light-green);
}

md-input-container:not(.md-input-invalid).md-input-focused .md-input {
  border-color: var(--und-light-green);
}

a, button.link {
  color: var(--und-light-green) !important;
}

a:hover, button.link:hover {
  color: var(--und-dark-orange) !important;
}

#index {
  background-color: var(--body-background-color);
  color: var(--und-dark-gray) !important
}

#header button.link {
  font-weight: bold;
}


/* Loading Bar */

#loading-bar .bar {
  background: var(--und-light-green);
  height: 5px;
}


/* END Loading Bar*/


/* Main Page */

#left-nav-container {
  width: var(--let-nav-width);
  min-width: var(--let-nav-width);
  max-width: var(--let-nav-width);
}

#left-nav {
  position: fixed;
  width: var(--let-nav-width);
  min-width: var(--let-nav-width);
  max-width: var(--let-nav-width);
}

#left-nav a {
  font-weight: bold;
}

#left-nav-logo-container {
  margin-bottom: 16px;
}

#left-nav-logo {
  text-align: center;
}

#left-nav-logo a:hover {
  filter: drop-shadow(0px 0px 10px var(--und-light-green));
}

.sidenav-logo {
  -mox-opacity: 0.5;
  opacity: 0.5;
  filter: alpha(opacity=50);
  width: 150px;
  text-decoration: none;
}


/* END Main Page */


/* Login Page */

.login {
  margin: auto;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  position: absolute;
}

#login-header {
  border-bottom: 1px solid #EEEEEE;
}

#login-logo {
  width: 150px;
  -mox-opacity: 0.5;
  opacity: 0.2;
  filter: alpha(opacity=50);
}

#login-area {
  width: 450px;
}

#input-area {
  border-right: 1px solid #EEEEEE;
}

#input-area .title {
  font-size: 24px;
  font-weight: 400;
  color: #4caf50;
}

#input-area md-input-container label {
  font-size: 13px;
  font-weight: lighter;
}

#reset .title {
  font-weight: 400;
  color: #BDBDBD;
  font-size: 15px;
  margin-bottom: 4px;
}

#reset .link {
  font-size: 12px;
}


/* End Login page*/


/* Toast */

md-toast {
  position: fixed !important;
  z-index: 1000001;
}

md-toast .md-button {
  font-weight: bold;
}


/* Styling for default theme */

md-toast .info {
  color: rgb(4, 118, 211) !important;
  font-weight: bold;
}

md-toast .warning {
  color: rgb(247, 155, 71) !important;
  font-weight: bold;
}

md-toast .error {
  color: rgb(243, 68, 57) !important;
  font-weight: bold;
}

md-toast .success {
  color: rgb(85, 204, 89) !important;
  font-weight: bold;
}


/* Styling for flip theme */

md-toast .info-flip .md-toast-content {
  color: rgb(4, 118, 211);
}

md-toast .warning-flip .md-toast-content {
  color: rgb(247, 155, 71);
}

md-toast .error-flip .md-toast-content {
  color: rgb(243, 68, 57);
}

md-toast .success-flip .md-toast-content {
  color: rgb(85, 204, 89);
}


/* Styling for light theme */

md-toast info-light .md-toast-content {
  background: rgb(4, 118, 211);
  color: white;
}

md-toast .warning-light .md-toast-content {
  background: rgb(247, 155, 71);
  color: white;
}

md-toast .error-light .md-toast-content {
  background: rgb(243, 68, 57);
  color: white;
}

md-toast .success-light .md-toast-content {
  background: rgb(85, 204, 89);
  color: white;
}


/* END Toast*/

/* Add User, Edit User */
.add-user, .edit-user {
  width: 700px;
}
/* End Add User, Edit User */
