<md-content layout-padding class="add-itemType">
	<h1 class="">Add Item Type</h1>
	<md-divider></md-divider>
	<form name="addItemTypeForm" novalidate>
		<div layout-gt-sm="row">
			<md-input-container class="md-block" flex-gt-sm>
				<label>Name</label>
				<input type="text" ng-model="new.name" name="name" required>
				<div ng-messages="addItemTypeForm.name.$error" role="alert">
					<div ng-message="required">Required</div>
				</div>
			</md-input-container>
    </div>
	    <md-button type="submit" class="md-raised md-primary" ng-click="addItemTypeForm.$valid && add()">Add Item Type</md-button>
	</form>
</md-content>
