<md-content layout-padding class="add-room">
	<h1 class="">Add Room</h1>
	<md-divider></md-divider>
	<form name="addRoomForm" novalidate>
		<div layout-gt-sm="row">
			<md-input-container class="md-block" flex-gt-sm>
				<label>Number</label>
				<input type="text" ng-model="new.number" name="number" required>
				<div ng-messages="addRoomForm.number.$error" role="alert">
					<div ng-message="required">Required</div>
				</div>
			</md-input-container>
      <md-input-container>
          <md-select ng-model="new.building" name="building" required>
            <md-option ng-value="building.id" ng-repeat="building in buildings">{{building.name}}</md-option>
          </md-select>
          <div ng-messages="addRoomForm.building.$error" role="alert">
  					<div ng-message="required">Required</div>
  				</div>
      </md-input-container>
    </div>
	    <md-button type="submit" class="md-raised md-primary" ng-click="addRoomForm.$valid && add()">Add Room</md-button>
	</form>
</md-content>
