<div class="login" layout="column" layout-align="center center">
  <div>
    <img id="login-logo" src="images/und.png" />
  </div>
  <div id="login-area">
    <md-card>
      <md-card-content layout="row">
        <div id="input-area" flex="60">
          <form name="loginForm" layout="column" novalidate>
            <div flex>
              <h1 class="title">
                Log in
              </h1>
            </div>
            <div flex>
              <md-input-container>
                <label>
                  Email address
                </label>
                <input required name="email" maxlength="255" autocomplete="off" spellcheck="false" ng-model="email" type="email" />
                <div ng-messages="loginForm.email.$error" role="alert">
    							<div ng-message="maxlength">Please enter a valid email address.</div>
    							<div ng-message="required">Please enter your email address.</div>
    							<div ng-message="pattern">Please log in using your email address.</div>
                  <div ng-message="email">Please enter a valid email address.</div>
                </div>
              </md-input-container>
            </div>
            <div flex>
              <md-input-container>
    						<label>Password</label>
    						<input required name="password" type="password" ng-model="password" />
    						<div ng-messages="loginForm.password.$error" role="alert">
    							<div ng-message="required">A password is required to log in.</div>
    						</div>
              </md-input-container>
            </div>
            <div flex layout="column" layout-align="center end">
              <md-button class="md-primary md-raised" type="submit" ng-click="loginForm.$valid && login(email, password)">Log In</md-button>
            </div>
  				</form>
  			</div>
  			<div id="reset" flex layout="column" layout-align="start end">
  				<h3 class="title">
            Forgot your password?
          </h3>
  				<a class="link" href="#" ng-click="showForgotPasswordDialog($event)">
            Reset your password here
          </a>
  			</div>
      </md-card-content>
    </md-card>
  </div>
</div>
