<md-toolbar>
    <div class="md-toolbar-tools">
        <h1>Users</h1>
        <span flex></span>
        <md-button class="md-fab pull-right" aria-label="Add User" ng-click="showAddUser($event)">
		    <i class="fa fa-plus fa-lg" aria-hidden="true"></i>
		</md-button>
    </div>
</md-toolbar>
<md-list>
  <md-list-item ng-repeat="user in users" ng-click="goToUser(user.id, $event)" class="noright">
    <p>{{ user.firstName }} {{ user.lastName }}</p>
    <md-checkbox class="md-secondary" ng-model="person.selected"></md-checkbox>
    <!-- <md-icon md-svg-icon="communication:email"  ng-click="doSecondaryAction($event)" aria-label="Send Email" class="md-secondary md-hue-3" ></md-icon>
    <md-icon class="md-secondary" ng-click="doSecondaryAction($event)" aria-label="Chat" md-svg-icon="communication:message"></md-icon> -->
  </md-list-item>
</md-list>
